<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link type="text/css" rel="stylesheet" href="/styles/base.css"/>
		<link type="text/css" rel="stylesheet" href="/styles/records.css"/>
		<script type="text/javascript" src="/scripts/lib/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/scripts/records.js"></script>
	</head>
	<body>
		<div id="wrap">
			<table>
				<colgroup>
					<col width="260"/>
					<col width="260"/>
					<col/>
				</colgroup>
				<tr>
					<th>dotId</th>
					<th>userId</th>
					<th>time</th>
				</tr>
				{{ if(status && results){ }}
					{{ results.operations.forEach(function(operation){ }}
						<tr>
							<td>{{= results.dotId }}</td>
							<td>{{= operation.userId }}</td>
							<td>{{= operation.time }}</td>
						</tr>
					{{ }) }}
				{{ }else{ }}
					<tr>
						<td colspan="3">{{= message }}</td>
					</tr>
				{{ } }}
			</table>
		</div>
	</body>
</html>