<!DOCTYPE html>
<html>
<head>
    <title>埋点操作提交</title>
		<link type="text/css" rel="stylesheet" href="/styles/base.css"/>
		<link type="text/css" rel="stylesheet" href="/styles/apply.css"/>
    <script type="text/javascript" src="/scripts/lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/submit.js"></script>
</head>
<body>
<div id="container">
	<div id="wrap" class="mt100">
		<ul class="formList">
			<li>
				<label for="dotId">dotId: </label>
				<input type="text" name="dotId" id="dotId" class="w200"/><b class="ml5">*</b>
			</li>
			<li>
				<label for="userId">userId: </label>
				<input type="text" name="userId" id="userId" class="w200"/><b class="ml5">*</b>
			</li>
			<li>
				<input type="submit" value="submit" id="submit"/>
			</li>
		</ul>
		<div id="note">this is the note</div>
	</div>
</div>

</body>
</html>
