@import "./module/nav.css";
.formList li{
    padding-left:105px;
    margin-bottom:30px;
}
.formList li label{
    display:block;
    float:left;
    width:100px;
    text-align:right;
    margin-left:-105px;
    line-height:32px
}
#container{
    width:798px;
    height:410px;
    margin:50px auto;
    background:url(/images/balloon.png) 0 0 no-repeat;
    padding:0 0 0 400px;
    border:1px solid #51b7bb
}
#wrap{
    width:600px;
    background-color:#fff;
    opacity:0.6;
    padding:50px;
    border-radius:30px;
}
#submit{
    width:140px;
    height:40px;
    background-color:#51b7bb;
    cursor:pointer;
    border-radius:10px;
    font-size:18px;
    color:#fff;
    border:1px solid #469da0
}
#submit:hover{
    background-color:#3f9295
}
#note{
    color:#3d3d3d;
    width: 500px;
    height: 30px;
    line-height:30px;
    margin-left: 105px;
    text-indent:36px;
    position:relative;
    border:1px solid #aadcde;
    border-radius:5px;
    background-color:#E4E4E4;
    display:none
}
#note b{
    width:22px;
    height:22px;
    background-image:url(/images/icons.png);
    background-repeat:no-repeat;
    position:absolute;
    top:4px;
    left:8px
}
.message_success{
    background-position:0 -24px
}
.message_warn{
    background-position:0 -1px
}
.message_error{
    background-position:0 -47px
}
img{
    margin:200px 0 0 20px;
    float:left
}
