body,div,li,ul,p,input,b,select{
    margin:0;
    padding:0
}
ul,li{
    list-style:none;
    list-style-position: outside;
}
.w100{
    width:100px
}
.w200{
    width:200px
}
.w300{
    width:300px
}
.w400{
    width:400px
}
.ml5{
    margin-left:5px
}
.mt50{
    margin-top:50px
}
.mt100{
    margin-top:100px
}
.mr10{
    margin-right:10px
}
body{
    font-family: "microsoft yahei";
    background-color:#51b7bb
}
input{
    border:1px solid #ccc;
    height:30px;
    background-color:#E4E4E4
}
select{
    height:30px;
    border:1px solid #ccc;
    background-color:#E4E4E4
}
table{
    border-collapse: collapse;

}
tr,th,td{
    border:1px solid #818d8e;
    padding:10px 0;
    text-align:center
}
th{
    background-color:#c9e5e6
}
td{
    background-color:#fff
}