#wrap{
    width:1000px;
    margin:0 auto;
}
table{
    width:100%;
}
.button{
    padding:0 20px;
    height: 30px;
    display: inline-block;
    background-color: #729B9D;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color:#000
}
.button:hover{
    background-color:#3f9295
}
.filter{
    width:1000px;
    margin:20px auto;
}